<div class="lstItem">

    <li class="burgerListItem">
        {{burger_name}}</li>

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}Devour it!{{/if}}
    </button>


</div>